{
  "openapi": "3.1.0",
  "info": {
    "title": "LoyaltyDog Public API",
    "description": "Merchant-product REST API. Authenticate with Authorization: Bearer. This is the frozen public schema (not the full dashboard/admin OpenAPI).",
    "termsOfService": "https://loyalty.dog/loyalty-program-terms-service",
    "contact": {
      "name": "LoyaltyDog Support",
      "url": "https://loyalty.dog/contact-us",
      "email": "support@loyalty.dog"
    },
    "version": "1.0.1"
  },
  "servers": [
    {
      "url": "https://api.loyalty.dog",
      "description": "Production"
    }
  ],
  "paths": {
    "/v2/token": {
      "get": {
        "tags": [
          "Token"
        ],
        "summary": "Get Token Info",
        "description": "Retrieve user information associated with the current access token.\n\n### Parameters:\n- `current_user` (User): The user instance obtained from the current access token.\n\n### Returns:\n- `UserRead`: The serialized user data.",
        "operationId": "get_token_info_v2_token_get",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserRead"
                }
              }
            }
          },
          "401": {
            "description": "Missing token or inactive user."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/loyalty/programs": {
      "get": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Get Loyalty Programs",
        "description": "### List Loyalty Programs\n\nRetrieve a list of all loyalty programs associated with the current user.\n\n- **Returns**: A list of loyalty programs in a simplified format.",
        "operationId": "get_loyalty_programs_v2_loyalty_programs_get",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BasicProgramRead"
                  },
                  "title": "Response Get Loyalty Programs V2 Loyalty Programs Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/loyalty/programs/{programId}": {
      "get": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Get Loyalty Program Details",
        "description": "### Get Loyalty Program Details\n\nFetch detailed information about a specific loyalty program.\n\n- **programId**: The unique identifier of the loyalty program.\n- **Returns**: Detailed information of the specified loyalty program.",
        "operationId": "get_loyalty_program_details_v2_loyalty_programs__programId__get",
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Update Loyalty Program Details",
        "description": "### Update Program\n\nUpdate the details of a specific loyalty program based on provided data.\n\n- **programId**: The unique identifier of the loyalty program.\n- **data**: A dictionary containing the fields to update.\n- **Returns**: The updated program details.",
        "operationId": "update_loyalty_program_details_v2_loyalty_programs__programId__put",
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProgramPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/loyalty/programs/{programId}/customFields": {
      "get": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Get Loyalty Program Custom Fields",
        "description": "### Get Loyalty Program Custom Fields\n\nRetrieve custom fields defined for a specific loyalty program.\n\n- **programId**: The unique identifier of the loyalty program.\n- **Returns**: A list of custom fields associated with the program.",
        "operationId": "get_loyalty_program_custom_fields_v2_loyalty_programs__programId__customFields_get",
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Update Loyalty Program Custom Fields",
        "description": "### Update Loyalty Program Custom Fields\n\nModify or replace the custom fields for a specific loyalty program.\n\n- **customFields**: A list of new custom fields to be applied.\n- **programId**: The unique identifier of the loyalty program.\n- **Returns**: A list of updated custom fields.",
        "operationId": "update_loyalty_program_custom_fields_v2_loyalty_programs__programId__customFields_put",
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TemplatePlaceholder"
                },
                "title": "Customfields"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/loyalty/programs/{programId}/icon": {
      "get": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Get Loyalty Program Icon",
        "description": "### Get Loyalty Program Icon\n\nRetrieve the icon image associated with a specific loyalty program.\n\n- **programId**: The unique identifier of the loyalty program.\n- **Returns**: The icon image data.",
        "operationId": "get_loyalty_program_icon_v2_loyalty_programs__programId__icon_get",
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Update Loyalty Program Icon",
        "description": "### Update Icon\n\nUpdate the icon image for a specific loyalty program.\n\n- **programId**: The unique identifier of the loyalty program.\n- **user**: The current active user making the request.\n- **image**: The new image file to be uploaded.\n- **crop**: Optional cropping instructions.\n- **Returns**: The updated icon image data.",
        "operationId": "update_loyalty_program_icon_v2_loyalty_programs__programId__icon_put",
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_update_loyalty_program_icon_v2_loyalty_programs__programId__icon_put"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/loyalty/programs/{programId}/passtype": {
      "put": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Change Loyalty Program Pass Type",
        "description": "### Change Pass Type\n\nUpdate the pass type associated with a specific loyalty program.\n\n- **programId**: The unique identifier of the loyalty program.\n- **passType**: The new pass type to be applied.\n- **Returns**: A response indicating the success of the operation.",
        "operationId": "change_loyalty_program_pass_type_v2_loyalty_programs__programId__passtype_put",
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_change_loyalty_program_pass_type_v2_loyalty_programs__programId__passtype_put"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/loyalty/programs/{programId}/card": {
      "get": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Get Loyalty Program Card",
        "description": "### Get Loyalty Program Card\n\nRetrieve the card details associated with a specific loyalty program.\n\n- **programId**: The unique identifier of the loyalty program.\n- **Returns**: The card details as a dictionary.",
        "operationId": "get_loyalty_program_card_v2_loyalty_programs__programId__card_get",
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Update Loyalty Program Card",
        "description": "### Update Card\n\nModify the card details for a specific loyalty program based on provided data.\n\n- **programId**: The unique identifier of the loyalty program.\n- **data**: The new card details to be applied.\n- **Returns**: The updated card details.",
        "operationId": "update_loyalty_program_card_v2_loyalty_programs__programId__card_put",
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplatePass"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/loyalty/programs/{programId}/card/images": {
      "get": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Get Loyalty Program Card Images",
        "description": "### Get Loyalty Program Card Images\n\nRetrieve all card images associated with a specific loyalty program.\n\n- **programId**: The unique identifier of the loyalty program.\n- **Returns**: A list of card images as dictionaries.",
        "operationId": "get_loyalty_program_card_images_v2_loyalty_programs__programId__card_images_get",
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/loyalty/programs/{programId}/card/images/{type}": {
      "get": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Get Loyalty Program Card Image",
        "description": "### Get Loyalty Program Card Image\n\nFetch a specific type of card image for a loyalty program.\n\n- **programId**: The unique identifier of the loyalty program.\n- **type**: The specific type of card image to retrieve.\n- **Returns**: The requested card image as a dictionary.",
        "operationId": "get_loyalty_program_card_image_v2_loyalty_programs__programId__card_images__type__get",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PassImageType"
            }
          },
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Update Loyalty Program Card Image",
        "description": "### Update Card Image\n\nCreate or update a specific type of card image for a loyalty program.\n\n- **programId**: The unique identifier of the loyalty program.\n- **type**: The type of card image to update.\n- **image**: The new image file to be uploaded.\n- **Returns**: The updated card image data.",
        "operationId": "update_loyalty_program_card_image_v2_loyalty_programs__programId__card_images__type__post",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PassImageType"
            }
          },
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_update_loyalty_program_card_image_v2_loyalty_programs__programId__card_images__type__post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Delete Loyalty Program Card Image",
        "description": "### Delete Card Image\n\nRemove a specific type of card image from a loyalty program.\n\n- **programId**: The unique identifier of the loyalty program.\n- **type**: The type of card image to delete.\n- **Returns**: A response indicating the success of the operation.",
        "operationId": "delete_loyalty_program_card_image_v2_loyalty_programs__programId__card_images__type__delete",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PassImageType"
            }
          },
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/loyalty/programs/{programId}/offers": {
      "get": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Get Loyalty Program Offers",
        "description": "### Get Loyalty Program Offers\n\nRetrieve a list of offers associated with a specific loyalty program.\n\n- **programId**: The unique identifier of the loyalty program.\n- **Returns**: A list of offers in a simplified format.",
        "operationId": "get_loyalty_program_offers_v2_loyalty_programs__programId__offers_get",
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 250,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Offset"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Create Loyalty Program Offer",
        "description": "### Create Offer\n\nCreate a new offer within a specific loyalty program.\n\n- **programId**: The unique identifier of the loyalty program.\n- **data**: The data for the new offer.\n- **user**: The current active user making the request.\n- **Returns**: The details of the newly created offer.",
        "operationId": "create_loyalty_program_offer_v2_loyalty_programs__programId__offers_post",
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOfferPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/loyalty/programs/{programId}/offers/{offerId}": {
      "get": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Get Loyalty Program Offer",
        "description": "### Get Loyalty Program Offer\n\nRetrieves the details of a specific offer within a loyalty program.\n\n- **Path Parameters**:\n    - `programId`: UUID of the loyalty program\n    - `offerId`: UUID of the offer\n\n- **Returns**:\n    - Offer details as a JSON object.",
        "operationId": "get_loyalty_program_offer_v2_loyalty_programs__programId__offers__offerId__get",
        "parameters": [
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Offerid"
            }
          },
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Update Loyalty Program Offer",
        "description": "### Update Offer\n\nUpdates an existing offer within a loyalty program.\n\n- **Path Parameters**:\n    - `programId`: UUID of the loyalty program\n    - `offerId`: UUID of the offer\n\n- **Request Body**:\n    - `data`: JSON object containing offer data to be updated.\n\n- **Returns**:\n    - Updated offer details as a JSON object.",
        "operationId": "update_loyalty_program_offer_v2_loyalty_programs__programId__offers__offerId__put",
        "parameters": [
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Offerid"
            }
          },
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOfferPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Delete Loyalty Program Offer",
        "description": "### Delete Offer\n\nDeletes an offer from a loyalty program. Only offers in 'DRAFT' status can be deleted.\n\n- **Path Parameters**:\n    - `programId`: UUID of the loyalty program\n    - `offerId`: UUID of the offer\n\n- **Returns**:\n    - HTTP 200 OK if successful, or an error message if conditions are not met.",
        "operationId": "delete_loyalty_program_offer_v2_loyalty_programs__programId__offers__offerId__delete",
        "parameters": [
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Offerid"
            }
          },
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/loyalty/programs/{programId}/offers/{offerId}/publish": {
      "post": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Publish Loyalty Program Offer",
        "description": "### Publish Offer\n\nChanges the status of an offer to 'LIVE' or 'SCHEDULED' based on the start date.\n\n- **Path Parameters**:\n    - `programId`: UUID of the loyalty program\n    - `offerId`: UUID of the offer\n\n- **Returns**:\n    - Offer details as a JSON object after status update.",
        "operationId": "publish_loyalty_program_offer_v2_loyalty_programs__programId__offers__offerId__publish_post",
        "parameters": [
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Offerid"
            }
          },
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/loyalty/programs/{programId}/offers/{offerId}/cancel": {
      "post": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Cancel Loyalty Program Offer",
        "description": "### Cancel Offer\n\nCancels an offer within a loyalty program. Only offers in 'DRAFT' or 'LIVE' status can be canceled.\n\n- **Path Parameters**:\n    - `programId`: UUID of the loyalty program\n    - `offerId`: UUID of the offer\n\n- **Returns**:\n    - Offer details as a JSON object after status update.",
        "operationId": "cancel_loyalty_program_offer_v2_loyalty_programs__programId__offers__offerId__cancel_post",
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Offerid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/loyalty/programs/{programId}/offers/{offerId}/duplicate": {
      "post": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Duplicate Loyalty Program Offer",
        "description": "### Duplicate Offer\n\nCreates a duplicate of an existing offer within a loyalty program.\n\n- **Path Parameters**:\n    - `programId`: UUID of the loyalty program\n\n- **Request Body**:\n    - `data`: JSON object containing the new offer data.\n\n- **Returns**:\n    - Details of the duplicated offer as a JSON object.",
        "operationId": "duplicate_loyalty_program_offer_v2_loyalty_programs__programId__offers__offerId__duplicate_post",
        "parameters": [
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Offerid"
            }
          },
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOfferPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/loyalty/programs/{programId}/offers/{offerId}/card": {
      "get": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Get Loyalty Program Offer Card",
        "description": "### Get Loyalty Program Offer Card\n\nRetrieves the card details associated with a specific offer within a loyalty program.\n\n- **Path Parameters**:\n    - `programId`: UUID of the loyalty program\n    - `offerId`: UUID of the offer\n\n- **Returns**:\n    - Card details as a JSON object.",
        "operationId": "get_loyalty_program_offer_card_v2_loyalty_programs__programId__offers__offerId__card_get",
        "parameters": [
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Offerid"
            }
          },
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Update Loyalty Program Offer Card",
        "description": "### Update Offer Card\n\nUpdates the card details of a specific offer within a loyalty program.\n\n- **Path Parameters**:\n    - `programId`: UUID of the loyalty program\n    - `offerId`: UUID of the offer\n\n- **Request Body**:\n    - `data`: JSON object containing the new card data.\n\n- **Returns**:\n    - Updated card details as a JSON object.",
        "operationId": "update_loyalty_program_offer_card_v2_loyalty_programs__programId__offers__offerId__card_put",
        "parameters": [
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Offerid"
            }
          },
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplatePass"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/loyalty/programs/{programId}/offers/{offerId}/card/images": {
      "get": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Get Loyalty Program Offer Images",
        "description": "### Get Loyalty Program Offer Images\n\nRetrieves all card images associated with a specific offer within a loyalty program.\n\n- **Path Parameters**:\n    - `programId`: UUID of the loyalty program\n    - `offerId`: UUID of the offer\n\n- **Returns**:\n    - List of card images as JSON objects.",
        "operationId": "get_loyalty_program_offer_images_v2_loyalty_programs__programId__offers__offerId__card_images_get",
        "parameters": [
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Offerid"
            }
          },
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/loyalty/programs/{programId}/offers/{offerId}/card/images/{type}": {
      "get": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Get Loyalty Program Offer Card Image",
        "description": "### Get Loyalty Program Offer Card Image\n\nRetrieves a specific type of card image associated with an offer within a loyalty program.\n\n- **Path Parameters**:\n    - `programId`: UUID of the loyalty program\n    - `offerId`: UUID of the offer\n    - `type`: Type of the card image (e.g., 'thumbnail', 'banner')\n\n- **Returns**:\n    - Card image details as a JSON object, or an error message if not found.",
        "operationId": "get_loyalty_program_offer_card_image_v2_loyalty_programs__programId__offers__offerId__card_images__type__get",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PassImageType"
            }
          },
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Offerid"
            }
          },
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Create Or Update Loyalty Program Offer Card Image",
        "description": "### Create or Update Card Offer Image\n\nUpdates or creates a new card image for a specific offer within a loyalty program.\n\n- **Path Parameters**:\n    - `programId`: UUID of the loyalty program\n    - `offerId`: UUID of the offer\n    - `type`: Type of the card image (e.g., 'thumbnail', 'banner')\n\n- **Request Body**:\n    - `image`: Image file to be uploaded.\n\n- **Returns**:\n    - Updated or new card image details as a JSON object, or an error message if the image is invalid.",
        "operationId": "create_or_update_loyalty_program_offer_card_image_v2_loyalty_programs__programId__offers__offerId__card_images__type__post",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PassImageType"
            }
          },
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Offerid"
            }
          },
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_create_or_update_loyalty_program_offer_card_image_v2_loyalty_programs__programId__offers__offerId__card_images__type__post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Delete Loyalty Program Offer Card Image",
        "description": "### Delete Card Offer Image\n\nDeletes a specific type of card image associated with an offer within a loyalty program.\n\n- **Path Parameters**:\n    - `programId`: UUID of the loyalty program\n    - `offerId`: UUID of the offer\n    - `type`: Type of the card image to be deleted (e.g., 'thumbnail', 'banner')\n\n- **Returns**:\n    - HTTP 200 OK on successful deletion.",
        "operationId": "delete_loyalty_program_offer_card_image_v2_loyalty_programs__programId__offers__offerId__card_images__type__delete",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PassImageType"
            }
          },
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Offerid"
            }
          },
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/loyalty/programs/{programId}/customers": {
      "get": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Get Loyalty Program Customers",
        "description": "### List Loyalty Program Customers\n\nRetrieves a list of customers associated with a specific loyalty program.\n\n**Path Parameters**:\n- `programId`: UUID of the loyalty program\n\n**Query Parameters**:\n- `phone`: Filter by customer's phone number (optional)\n- `email`: Filter by customer's email (optional)\n- `pid`: Filter by personal identifier (optional)\n- `pidNumber`: Filter by personal identifier number (optional)\n- `includeTotal`: Include total member count in response (default: false)\n\n**Returns**:\n- By default: A list of customer details as JSON objects.\n- If includeTotal=true: An object with `customers` array and `total` count.",
        "operationId": "get_loyalty_program_customers_v2_loyalty_programs__programId__customers_get",
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Phone"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Email"
            }
          },
          {
            "name": "pid",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Pid"
            }
          },
          {
            "name": "pidNumber",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Pidnumber"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Orderby"
            }
          },
          {
            "name": "byName",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Byname"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 250,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Offset"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Create Loyalty Program Customer",
        "description": "### Create Loyalty Program Customer\n\nCreates a new customer within a loyalty program.\n\n**Path Parameters**:\n- `programId`: UUID of the loyalty program\n\n**Request Body**:\n- `data`: Customer data to be added\n\n**Returns**:\n- Customer details as a JSON object on successful creation.\n- HTTP 404 Not Found if the program template is not found.",
        "operationId": "create_loyalty_program_customer_v2_loyalty_programs__programId__customers_post",
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/loyalty/programs/{programId}/customers/{customerId}": {
      "get": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Get Loyalty Program Customer",
        "description": "### Get Loyalty Program Customer\n\nRetrieves details of a specific customer within a loyalty program.\n\n**Path Parameters**:\n- `programId`: UUID of the loyalty program\n- `customerId`: UUID of the customer\n\n**Returns**:\n- Customer details as a JSON object.",
        "operationId": "get_loyalty_program_customer_v2_loyalty_programs__programId__customers__customerId__get",
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Customerid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Update Loyalty Program Customer",
        "description": "### Update Loyalty Program Customer\n\nUpdates details of a specific customer within a loyalty program.\n\n**Path Parameters**:\n- `programId`: UUID of the loyalty program\n- `customerId`: UUID of the customer\n\n**Request Body**:\n- `data`: Updated customer data\n\n**Returns**:\n- Updated customer details as a JSON object.",
        "operationId": "update_loyalty_program_customer_v2_loyalty_programs__programId__customers__customerId__put",
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Customerid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Delete Loyalty Program Customer",
        "description": "### Delete Loyalty Program Customer\n\nSoft-deletes a customer from a loyalty program. The customer document is retained\nfor the GDPR retention period (30 days) before being hard-deleted by the background\nprocessor (SWE-376). Related operational data (pass, events) is cleaned up immediately.\n\n**Path Parameters**:\n- `programId`: UUID of the loyalty program\n- `customerId`: UUID of the customer\n\n**Returns**:\n- HTTP 202 Accepted with a deletion timeline (`softDeletedAt`, `hardDeleteAfter`, `status`).",
        "operationId": "delete_loyalty_program_customer_v2_loyalty_programs__programId__customers__customerId__delete",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Customerid"
            }
          },
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/loyalty/programs/{programId}/customers/{customerId}/points/reserved": {
      "get": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Get Loyalty Program Customer Reserved Points",
        "description": "### Get Loyalty Program Customer Reserved and Available Points\nRetrieves the total reserved and available points for a specific customer within a loyalty program.\n**Path Parameters**:\n- `programId`: UUID of the loyalty program\n- `customerId`: UUID of the customer\n**Returns**:\n- A JSON object containing reservedPoints and availablePoints.",
        "operationId": "get_loyalty_program_customer_reserved_points_v2_loyalty_programs__programId__customers__customerId__points_reserved_get",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Customerid"
            }
          },
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/loyalty/programs/{programId}/customers/{customerId}/push": {
      "post": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Post Loyalty Program Customer Push",
        "description": "### Send Push Notification to a Customer\n\nSends a push notification to a specific customer's installed pass.\n\n**Path Parameters**:\n- `programId`: UUID of the loyalty program\n- `customerId`: UUID of the customer\n\n**Request Body**:\n- `message`: The message content to send (optional)\n\n**Note**:\n- Excessive usage of push notifications can lead to rate limiting or blocking of your cards.\n\n**Returns**:\n- HTTP 200 OK on successful delivery.",
        "operationId": "post_loyalty_program_customer_push_v2_loyalty_programs__programId__customers__customerId__push_post",
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Customerid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_post_loyalty_program_customer_push_v2_loyalty_programs__programId__customers__customerId__push_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/loyalty/programs/{programId}/customers/{customerId}/points/add": {
      "post": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Update Loyalty Program Customer Points",
        "description": "### Add Reward Points to Customer Account\n\nAdds a specified number of reward points to a customer's account within a loyalty program.\n\n**Path Parameters**:\n- `programId`: UUID of the loyalty program\n- `customerId`: UUID of the customer\n\n**Request Body**:\n- `points`: Number of points to add\n\n**Returns**:\n- Updated customer details with new points total as a JSON object.",
        "operationId": "update_loyalty_program_customer_points_v2_loyalty_programs__programId__customers__customerId__points_add_post",
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Customerid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_update_loyalty_program_customer_points_v2_loyalty_programs__programId__customers__customerId__points_add_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/loyalty/programs/{programId}/customers/{customerId}/offers": {
      "get": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Get Loyalty Program Customer Offers",
        "description": "### List Available Offers for Customer\n\nLists all available offers for a specific customer within a loyalty program.\n\n**Path Parameters**:\n- `programId`: UUID of the loyalty program\n- `customerId`: UUID of the customer\n\n**Returns**:\n- A list of available offers as JSON objects.",
        "operationId": "get_loyalty_program_customer_offers_v2_loyalty_programs__programId__customers__customerId__offers_get",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Customerid"
            }
          },
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/loyalty/programs/{programId}/customers/{customerId}/offers/{offerId}/claim": {
      "post": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Claim Loyalty Program Customer Offer",
        "description": "### Claim an Offer for Customer\n\nAllows a customer to claim an offer if they meet the necessary conditions.\n\n**Path Parameters**:\n- `programId`: UUID of the loyalty program\n- `customerId`: UUID of the customer\n- `offerId`: UUID of the offer\n\n**Returns**:\n- HTTP 200 OK on successful claim.\n- HTTP 422 Unprocessable Entity if conditions are not met.",
        "operationId": "claim_loyalty_program_customer_offer_v2_loyalty_programs__programId__customers__customerId__offers__offerId__claim_post",
        "parameters": [
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Offerid"
            }
          },
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Customerid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/loyalty/programs/{programId}/customers/{customerId}/offers/current/redeem": {
      "post": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Redeem Loyalty Program Customer Offer",
        "description": "### Redeem Current Offer for Customer\n\nRedeems the current offer for a customer within a loyalty program.\n\n**Path Parameters**:\n- `programId`: UUID of the loyalty program\n- `customerId`: UUID of the customer\n\n**Returns**:\n- HTTP 200 OK on successful redemption.",
        "operationId": "redeem_loyalty_program_customer_offer_v2_loyalty_programs__programId__customers__customerId__offers_current_redeem_post",
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Customerid"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/loyalty/programs/{programId}/customers/{customerId}/activities": {
      "get": {
        "tags": [
          "Loyalty"
        ],
        "summary": "Get Loyalty Program Customer Activities",
        "description": "### Get Loyalty Program Activities of Customer\n\nRetrieve a list of activities associated with a specific loyalty customer.\n\n- **programId**: The unique identifier of the loyalty program.\n- **Returns**: A list of activities in a simplified format.",
        "operationId": "get_loyalty_program_customer_activities_v2_loyalty_programs__programId__customers__customerId__activities_get",
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Programid"
            }
          },
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PydanticObjectId"
                },
                {
                  "type": "string"
                }
              ],
              "title": "Customerid"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Start"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "string",
                  "format": "date-time"
                },
[...]
